<div class="item">
  <div>Avatar URL</div>
  <div>
    <input type="url" name="avatar_url" placeholder="http://" value="{{ student.avatar_url }}"/>
  </div>
</div>
<div class="item">
  <div>Nome</div>
  <div>
    <input type="text" name="name" placeholder="Nome do Aluno" value="{{ student.name }}"/>
  </div>
</div>
<div class="item">
  <div>Email</div>
  <div>
    <input type="email" name="email" value="{{ student.email }}"/>
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input type="date" name="birth" value="{{ student.birth }}"/>
  </div>
</div>

<div class="item">
  <div>Ano Escolar</div>
  <div>
    <select name="graduation">
      <option value="{{student.graduation}}">{{ student.graduation }}</option>
      <option value="Quinto ano fundamental">Quinto ano fundamental</option>
      <option value="Sexto ano fundamental">Sexto ano fundamental</option>
      <option value="Setimo ano fundamental">Setimo ano fundamental</option>
      <option value="Oitavo ano fundamental">Oitavo ano fundamental</option>
      <option value="Nono ano fundamental">Nono ano fundamental</option>
      <option value="Primeiro ano Ensino medio">Primeiro ano Ensino medio</option>
      <option value="Segundo ano Ensino medio">Segundo ano Ensino medio</option>
      <option value="Terceiro ano Ensino medio">Terceiro ano Ensino medio</option>
    </select>
  </div>
</div>
<div class="item">
  <div>Carga horária</div>
  <div>
    <input type="number" name="carga" placeholder="Numero de horas" value="{{ student.carga }}"/>
  </div>
</div>
<div class="item">
  <div>Tipo de Aula</div>
  <div>
    <span
      ><input type="radio" name="typeclass" value="P" {% if student.typeclass == "P" %} checked {% endif
      %}/>Presencial</span
    >
    <span
      ><input type="radio" name="typeclass" value="A" {% if student.typeclass == "A" %} checked {% endif %}/>À
      distância</span
    >
  </div>
</div>

<button type="submit">Salvar</button>